af-navbar-title(label="Net Banking")
af-layout(direction="column")
   af-layout(direction="row" padding=10 align-items="center")
      af-layout(direction="row" flex=1)
         af-image-view(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" width=100 resize="fit")
      af-layout(direction="row" align-items="flex_end")
         af-layout(direction="row" padding=3)
            af-label(text="Pay" label-type="caption")
         af-label(text="${gatewayAmount(data)} ${data.calculations.response.calculationDetails.currencyCode}" label-type="title")
   af-divider
   af-layout(direction="column" padding=10)
      af-layout(direction="row")
         af-icon-view(icon="bank")
         af-select(af-onclick="clearSelection(scope)")
            af-trigger-view(direction="column" padding=5 flex=1)
               af-layout(direction="column" padding=5)
                  af-label(text="${selectedBankName(data)}" label-type="subhead" af-watch="data.selected_bank,data.selected_bank.BANK_CODE")
               af-divider()
            af-layout(direction="column")
               af-layout(direction="column" padding=10 inverted bg-color="primary-color")
                  af-label(text="Select Bank" label-type="subhead" color="primary-color-inverted")
               af-list-view(items="data.paytm_banks.BANK_LIST" height=300 af-onclick="selectBank(scope, item)")
                  af-layout(direction="column")
                     af-layout(direction="row" padding=10)
                        af-label(text="${data.BANK_NAME}" label-type="subhead")
                     af-divider()
      af-layout(direction="column" padding=5)
         af-label(text="Note:If you are an ING Vysya now Kotak customer, please select Kotak Mahindra Bank from the list of banks and complete the transaction" dim)

   af-layout(direction="column" padding=10 align-items="flex_end")
      af-button(primary label="Make Payment" af-onclick="getBankParams(data)" af-enabled="data.selected_bank?'true':'false'" af-watch="data.selected_bank" color="#FFFFFF")

script.

   var clearSelection = function(scope){

   }

   var onLoad = function (data) {
      if(data.open_payment_window){
         pay(data);
      }
   }

   var gatewayAmount = function (data) {
      if (data.use_wallet) {
         return parseFloat(Math.round((data.totalBillable - data.paytm_balance.response.amount) * 100) / 100).toFixed(2);
      }
      else {
         return parseFloat(Math.round(data.totalBillable * 100) / 100).toFixed(2);
      }
   }

   var pay = function (data) {
      viewAction("load-web", {
         intercept: "http://107.170.249.109:5000/posted-params",
         url: "https://secure.paytm.in/oltp-web/processTransaction?orderid=" + data.save_attendee_data.orderId,
         headers: {
            "content-type": "application/x-www-form-urlencoded",
            "Cookie":"PHPSESSID="+data.saveAttendee.PHPSESSID
         },
         method: "POST",
         body: data.payment_window_params.data,
         title: selectedBankName(data),
         segue: "forward_meraevents",
         data: data,
         injectionParam:"data.web_response"
      });
   }

   var selectedBankName = function(data){
      if(data.selected_bank){
         return data.selected_bank.BANK_NAME;
      }
      else{
         return "SELECT BANK";
      }
   }

   var selectBank = function(scope, item){
      scope.data.selected_bank = item;
      scope.save();
      viewAction("dismiss-pop", {});
   }

   var getBankParams = function (data) {
      processIntent("next", data);
   }