af-navbar-title(label="PayTM Wallet")
af-layout(direction="column")
   af-layout(direction="column" padding=10)
      af-layout(direction="column" align-items="flex_center" padding=10)
         af-image-view(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" width=100 height=70 resize="fit")
      af-layout(direction="column" align-items="flex_center")
         af-label(text="Enter Mobile Number to login" dim label-type="subhead")
      af-layout(direction="column" padding=10)
         af-edit-text(label-type="subhead" placeholder="Mobile No" input-type="phone" af-value="data.mobile" text-align="center")
         af-divider
         af-progress
   af-layout(direction="column" padding=10)
      af-button(primary label="SEND OTP" af-onclick="verify(data)" color="#f8e71d" af-enabled="validMobile(data)" af-watch="data.mobile")

script.

   var onLoad = function (data) {

   }

   var validMobile = function(data){
      if(data.mobile){
         return data.mobile.length == 10;
      }
      else{
         return false;
      }
   }

   var verify = function (data) {
      processIntent("next", data);
   }