af-navbar-title(label="Razor Payment" identifier="razor_card_init")
af-layout(direction="column" bg-color="#f4f4f4")
    af-progressbar
    af-layout(direction="column" elevation="level1" margin=10)
        af-layout(direction="column" align="center")
            af-layout(direction="row" bg-color="#ffffff")
                af-imageview(src="https://image.opencart.com/cache/56195bed77aff-resize-710x380.jpg" height=20 scale="center_inside")
        af-divider
        af-layout(direction="column" align="center")
            af-layout(direction="row" bg-color="#ffffff")
                af-label(appearance="caption" dim text="card[name]" inverted)
                af-label(appearance="caption" dim text="card[number]" inverted)
                af-label(appearance="caption" dim text="card[cvv]" inverted)
                af-label(appearance="caption" dim text="card[expiry_month]" inverted)
                af-label(appearance="caption" dim text="card[expiry_year]" inverted)
                af-label(appearance="caption" dim text="amount" inverted)
                af-label(appearance="caption" dim text="currency" inverted)
                af-label(appearance="caption" dim text="email" inverted)
                af-label(appearance="caption" dim text="contact" inverted)
                af-label(appearance="caption" dim text="method" inverted)
                af-label(appearance="caption" dim text="ip" inverted)
                af-label(appearance="caption" dim text="referer" inverted)
                af-label(appearance="caption" dim text="user_agent" inverted)
                af-label(appearance="caption" dim text="callback_url" inverted)

        //af-layout(direction="column" padding=2 margin=5)
            af-layout(direction="column" padding=1)
                af-label(appearance="caption" dim text="Full Name")
                af-textedit(appearance="subhead" bind="card.name" hint="Full Name" input-type="name")
            af-layout(direction="column" padding=1)
                af-label(appearance="caption" dim text="Card Number")
                af-textedit(appearance="subhead" bind="card.number" hint="XXXX-XXXX-XXXX-XXXX" input-type="number" max-char=16)
            af-layout(direction="row")
                af-layout(direction="column" padding=1 weight=1)
                    af-label(appearance="caption" dim text="Expiry Date")
                    af-layout(direction="row")
                        af-textedit(appearance="subhead" hint="MM" input-type="number" bind="card.expiry_month" max-char=2)
                        af-label(text="/")
                        af-textedit(appearance="subhead" hint="YY" input-type="number" bind="card.expiry_year" max-char=2)
                af-layout(direction="column" padding=1 weight=1)
                    af-label(appearance="caption" dim text="CVV")
                    af-textedit(appearance="subhead" hint="CVV" input-type="password" bind="card.cvv" max-char=3)
        //af-divider
        //af-layout(direction="row" padding=5 margin=5)
            af-label(appearance="title" text="Payable ")
            af-layout(direction="row" weight=1)
            af-label(appearance="title" text="10.00")
        //af-divider
af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 align="end")
    af-button(label="PAY NOW" af-onclick="pay($data)")

script.

    /*var pay = function (data) {
        af_open_webintercept({
            callback_intercept: "https://production.appsfly.io/paytm/posted-params",
            url: "https://api.razorpay.com/v1/payments/create/redirect",
            headers: {
                "content-type": "application/x-www-form-urlencoded",
                "authorization" : "Basic cnpwX3Rlc3RfTlNJM3V6ZVNyOERyZFk6MmlRQm9tTkY3akRodUJDdGd4OWk3NXht"
            },
            method: "POST",
            body: data.data,
            title: "Pay",
            callback: "forward(url, $root)",
            data: data,
            injectionParam: "data.web_response"
        });
    }*/

    var pay = function (data) {
        scope.log("af_open_webintercept" +JSON.stringify({
             callback_intercept: "https://production.appsfly.io/paytm/posted-params",
             url: "https://api.razorpay.com/v1/payments/create/redirect?",
             headers: {
                "content-type"  : "application/x-www-form-urlencoded",
                "Authorization" : "Basic cnpwX3Rlc3RfTlNJM3V6ZVNyOERyZFk6MmlRQm9tTkY3akRodUJDdGd4OWk3NXht"
             },
             method: "POST",
             body: data.data,
             title: "Pay",
             callback: "forward(url, $root)",
             data: data,
             injectionParam: "data.web_response"
        }));
        af_open_webintercept({
            callback_intercept: "https://production.appsfly.io/paytm/posted-params",
            url: "https://api.razorpay.com/v1/payments/create/redirect",
            headers: {
                "Content-Type"  : "application/x-www-form-urlencoded",
                "Authorization" : "Basic cnpwX3Rlc3RfTlNJM3V6ZVNyOERyZFk6MmlRQm9tTkY3akRodUJDdGd4OWk3NXht"
            },
            auth: {
                "username": "rzp_test_NSI3uzeSr8DrdY",
                "password": "2iQBomNF7jDhuBCtgx9i75xm"
            },
            method: "POST",
            body:data.data,
            title: "Pay",
            callback: "forward(url, $root)",
            data: data,
            injectionParam: "data.web_response"
        });
    }

    //To forward to MeraEvents after payment is complete
    var forward = function (url, root) {
        root.web_response = url;
        af_send_intent("forward", root);
    }
