
af-navbar-title(label="Check Hash" identifier="check_hash" inverted)
af-layout(direction="column" )
    af-layout(direction="column" bg-color="#FFFFFF" padding-left=24 padding-right=24)
        af-label(text="Test" appearance="subhead")

af-layout(direction="column" bg-color="#ffffff")
    af-button(label="Pay" af-onclick="pay($data)" primary raised)
script.

    var pay = function (data) {
        af_open_webintercept({
            callback_intercept: "https://production.appsfly.io/paytm/posted-params",
            url: "http://fgmtest.firstglobalmoney.com:8041/ws/api/auth?" + data.payment_window_params.data,
            headers: {
                "content-type": "application/form-data"
            },
            method: "POST",
            body:"",
            title: "Pay",
            callback: "forward(url, $root)",
            data: data,
            injectionParam: "data.web_response"
        });
    }

    var forward = function (url, root) {
        root.web_response = url;
        scope.log("web_response" +JSON.stringify(root.web_response));
        af_send_intent("forward_meraevents", root);
    }
