af-navbar-title(label="Select Payment" identifier="razor_pay_method")
af-layout(direction="column" bg-color="#f4f4f4")
    af-progressbar
    af-layout(direction="column" elevation="level1" margin=10)
        af-layout(direction="column" align="center")
            af-layout(direction="row" bg-color="#ffffff")
                af-imageview(src="https://image.opencart.com/cache/56195bed77aff-resize-710x380.jpg" height=20 scale="center_inside")
        af-divider
        af-layout(direction="column" padding=2 margin=5 align="center")
            af-layout(direction="row" padding=1)
                af-button(label="Debit Card" af-onclick="selectcardpayment($data)" primary raised)
            af-layout(direction="row" padding=1)
                af-button(label="Credit Card" af-onclick="selectcardpayment($data)" primary raised)
            af-layout(direction="row" padding=1)
                af-button(label="Net Banking" af-onclick="selectnbpayment($data)" primary raised)
            af-layout(direction="row" padding=1)
                af-button(label="Wallets" af-onclick="selectwalletpayment($data)" primary raised)
            af-layout(direction="row" padding=1)
                af-button(label="EMIs" af-onclick="selectemipayment($data)" primary raised)

af-layout(direction="column")
    //af-button(label="PAY NOW" af-onclick="makepayment($data)")


script.

    var selectcardpayment = function (data) {
        af_send_intent("card", data);
    }

    var selectnbpayment = function (data) {
        af_send_intent("card", data);
    }

    var selectwalletpayment = function (data) {
        af_send_intent("card", data);
    }

    var selectemipayment = function (data) {
        af_send_intent("card", data);
    }


