af-navbar-title(label="Razor Payment" identifier="razor_netbanking")
af-layout(direction="column" bg-color="#f4f4f4")
    af-progressbar
    af-layout(direction="column" elevation="level1" margin=10)
        af-layout(direction="column" align="center")
            af-layout(direction="row" bg-color="#ffffff")
                af-imageview(src="https://image.opencart.com/cache/56195bed77aff-resize-710x380.jpg" height=20 scale="center_inside")
        af-divider
        af-layout(direction="column" padding=2 margin=5)
            af-layout(direction="column" padding=1)
                af-label(appearance="caption" dim text="Full Name")
                af-textedit(appearance="subhead" bind="add_card.card.bank" hint="Bank Name" input-type="name")
                //af-layout(af-visible="$data.add_card.card.number!=''" af-watch="$add_card.card.number")
            //af-layout(direction="column" padding=10 margin-bottom=25)
                af-label(appearance="caption" dim text="Email")
                af-textedit(appearance="subhead" bind="add_card.card.email" hint="Email" input-type="email")
            //af-layout(direction="column" padding=10 margin-bottom=25)
                af-label(appearance="caption" dim text="Amount")
                af-textedit(appearance="subhead" bind="add_card.payment.amount" hint="Email" input-type="number")
            //af-layout(direction="column" padding=10 margin-bottom=25)
                af-label(appearance="caption" dim text="Contact")
                af-textedit(appearance="subhead" bind="add_card.card.mobileNumber" hint="Contact Number" input-type="number")
        af-divider
        af-layout(direction="row" padding=5 margin=5)
            af-label(appearance="title" text="Payable ")
            af-label(appearance="title" text="$10.00")
            af-layout(direction="row" weight=1)
            af-button(label="PAY NOW" af-onclick="makepayment($data)" primary raised)
    af-layout(direction="row" padding=5 weight=1 bg-color="#f4f4f4")
       // af-layout(direction="column" padding=5 weight=1 bg-color="#f4f4f4")
af-layout(direction="column" weight=1 bg-color="#ffffff" inverted padding-right=10 padding-left=10 align="center")






script.

    var makepayment = function (data) {
        af_send_intent("next", data);
    }

    var onLoad = function (data) {
        if (data.open_payment_window) {
            pay(data);
        }
    }

    var verify = function (data) {
        af_send_intent("verify", data);
    }

    var cc_format = function (data) {
        var v = data.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
        var matches = v.match(/\d{4,16}/g);
        var match = '';
        if (matches) {
            if (matches[0]) {
                match = matches[0];
            }
        }
        var parts = [];
        for (i = 0, len = match.length; !(i >= len); i += 4) {
            parts.push(match.substring(i, i + 4))
        }
        if (parts.length) {
            data.card_number = parts.join('-');
            af_saveData();
        }
    }

    var month_format = function (scope) {
        var v = scope.data.cc_month.value;
        var matches = v.match(/^(0[1-9]|1[0-2])$/);
        if (matches) {
            scope.data.cc_month = matches[0];
            scope.save();
        }
    }

    var year_format = function (scope) {
        var v = scope.data.exp_year.value;
        var matches = v.match(/^\d{4}$/);
        if (matches) {
            scope.data.exp_year = matches[0];
            scope.save();
        }
    }

    var getCardParams = function (data , root) {
        //var data = scope.data;
        if (!root.cc_month || !root.card_number || !root.cvv) {
            root.cc_details = {
                month: data.cc_month.split("/")[0],
                year: "20" + data.cc_month.split("/")[1],
                cnum: data.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, ''),
                cvv: data.cvv
            }
            af_send_intent("pay_new_card", root);
            scope.save();
        }
    }

    var pay = function (data) {
        af_open_webintercept({
            callback_intercept: "https://production.appsfly.io/paytm/posted-params",
            url: "",
            headers: {
                "content-type": "application/x-www-form-urlencoded",
                "Cookie": "PHPSESSID=" + data.saveAttendee.PHPSESSID
            },
            method: "POST",
            body: data.payment_window_params.data,
            title: "Pay",
            callback: "forward(url, $root)",
            data: data,
            injectionParam: "data.web_response"
        });
    }


