af-navbar-title(label="Pay with Razor")
af-layout(direction="column")
    af-divider
    af-progressbar
    af-layout(direction="column" align="center" margin-top=60)
        af-layout(direction="column")
            af-icon(icon="ALERT_CIRCLE" size=150 color="#FF0000" )
        af-label(text="Transaction unsuccessful" appearance="title" text-align="center" padding=5 text-color="#FF0000")



af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 align="end")
    af-button(label="TRY AGAIN" af-onclick="retrypayment($data)")




script.

    var retrypayment = function (data) {
        af_send_intent("retry", data);
    }

    var changeMobile = function (data) {
        data.mobile = "";
        processIntent("change_mobile", data);
    }

    var onLoad = function (data) {
        viewAction("clear-stack-till", {"component-identifier": "pay_view"});
    }

    var gatewayAmount = function (data) {
        if (data.use_wallet) {
            return parseFloat(Math.round((data.totalBillable - data.paytm_balance.response.amount) * 100) / 100).toFixed(2);
        }
        else {
            return parseFloat(Math.round(data.totalBillable * 100) / 100).toFixed(2);
        }
    }

    var showPaytmCards = function (data) {
        processIntent("paytm_card", data);
    }

    var showPaytmNetbanking = function (data) {
        processIntent("paytm_netbank", data);
    }

    var payWithPaytmWallet = function (data) {
        processIntent("pay_with_paytm_wallet_only", data)

    }
