af-navbar-title(label="Card Payment" identifier="razor_card_init")
af-layout(direction="column")
    af-progressbar
    af-scroll(weight=1)
        af-layout(direction="column")
            af-imageview(src="https://image.opencart.com/cache/56195bed77aff-resize-710x380.jpg" height=20 scale="center_inside")
            af-divider
            af-layout(direction="column" elevation="level1" padding=1 margin=8 bg-color="#455696")
                af-layout(direction="column" padding=1 margin-top=15 margin-left=15 margin-right=15)
                    af-label(appearance="caption" dim text="Full Name" inverted)
                    af-textedit(appearance="subhead" bind="card.name" hint="Full Name" input-type="name" inverted)
                    //af-layout(af-visible="$data.add_card.card.number!=''" af-watch="$add_card.card.number")
                af-layout(direction="column" padding=1 margin-top=5 margin-left=15 margin-right=15)
                    af-label(appearance="caption" dim text="Card Number" inverted)
                    af-textedit(appearance="subhead" inverted bind="card.number" hint="XXXX-XXXX-XXXX-XXXX" input-type="number" next watch="add_card.card.number" af-onchanged="cc_format($data)" max-char=16)
                    //af-textedit(appearance="subhead" bind="add_card.card.number" inverted hint="XXXX-XXXX-XXXX-XXXX"   input-type="number" max-char=16)
                af-layout(direction="row" margin-top=5 margin-left=15 margin-right=15)
                    af-layout(direction="column" padding=1 weight=1)
                        //af-layout(af-visible="$data.add_card.card.cc_month!=''" af-watch="$data.add_card.card.cc_month")
                        af-label(appearance="caption" dim text="Expiry Date" inverted)
                        af-layout(direction="row")
                            af-textedit(appearance="subhead" hint="MM" inverted input-type="number" bind="card.expiry_month" next max-char=2)
                            af-label(text="/" inverted)
                            af-textedit(appearance="subhead" hint="YY" inverted input-type="number" bind="card.expiry_year" max-char=2)
                            //af-textedit(appearance="subhead" hint="YYYY" inverted input-type="number" bind="add_card.card.exp_year" max-char=4)
                    af-layout(direction="column" padding=1 weight=1)
                        //af-layout(af-visible="$data.add_card.card.cvv!=''" af-watch="add_card.card.cvv")
                        af-label(appearance="caption" dim text="CVV" inverted)
                        af-textedit(appearance="subhead" hint="CVV" inverted input-type="password" bind="card.cvv" max-char=3)
                        //af-textedit(appearance="subhead" hint="CVV" inverted input-type="password" bind="add_card.card.cvc" max-char=3)
            af-divider
            af-layout(direction="row" padding=16)
                af-label(appearance="title" text="Payable" text-align="start")
                af-layout(direction="row" weight=1)
                af-label(appearance="title" text="$10.00" text-align="end")
            af-divider
af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 align="end")
    af-button(label="PAY NOW" af-onclick="makepayment($data)")

//af-navbar-title(label="Card Payment" identifier="razor_card_init")
//af-layout(direction="column" bg-color="#f4f4f4")
    af-progressbar
    af-layout(direction="column" elevation="level1" margin=10)
        af-layout(direction="column" align="center")
            af-layout(direction="row" bg-color="#ffffff")
                af-imageview(src="https://image.opencart.com/cache/56195bed77aff-resize-710x380.jpg" height=20 scale="center_inside")
        af-divider
        af-layout(direction="column" padding=2 margin=5)
            af-layout(direction="column" padding=1)
                af-label(appearance="caption" dim text="Full Name")
                af-textedit(appearance="subhead" bind="card.name" hint="Full Name" input-type="name")
            af-layout(direction="column" padding=1)
                af-label(appearance="caption" dim text="Card Number")
                af-textedit(appearance="subhead" bind="card.number" hint="XXXX-XXXX-XXXX-XXXX" input-type="number" max-char=16)
            af-layout(direction="row")
                af-layout(direction="column" padding=1 weight=1)
                    af-label(appearance="caption" dim text="Expiry Date")
                    af-layout(direction="row")
                        af-textedit(appearance="subhead" hint="MM" input-type="number" bind="card.expiry_month" max-char=2)
                        af-label(text="/")
                        af-textedit(appearance="subhead" hint="YY" input-type="number" bind="card.expiry_year" max-char=2)
                af-layout(direction="column" padding=1 weight=1)
                    af-label(appearance="caption" dim text="CVV")
                    af-textedit(appearance="subhead" hint="CVV" input-type="password" bind="card.cvv" max-char=3)
        af-divider
        af-layout(direction="row" padding=5 margin=5)
            af-label(appearance="title" text="Payable ")
            af-layout(direction="row" weight=1)
            af-label(appearance="title" text="10.00")
        af-divider
//af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 align="end")
    af-button(label="PAY NOW" af-onclick="makepayment($data)")

script.

    var makepayment = function (data) {
        af_send_intent("next", data);
    }

    var onLoad = function (data) {
        if (data.open_payment_window==true) {
            pay($data);
        }
    }

    var verify = function (data) {
        af_send_intent("verify", data);
    }

    var cc_format = function (data) {
        var v = data.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
        var matches = v.match(/\d{4,16}/g);
        var match = '';
        if (matches) {
            if (matches[0]) {
                match = matches[0];
            }
        }
        var parts = [];
        for (i = 0, len = match.length; !(i >= len); i += 4) {
            parts.push(match.substring(i, i + 4))
        }
        if (parts.length) {
            data.card_number = parts.join('-');
            af_saveData();
        }
    }

    var month_format = function (scope) {
        var v = scope.data.cc_month.value;
        var matches = v.match(/^(0[1-9]|1[0-2])$/);
        if (matches) {
            scope.data.cc_month = matches[0];
            scope.save();
        }
    }

    var year_format = function (scope) {
        var v = scope.data.exp_year.value;
        var matches = v.match(/^\d{4}$/);
        if (matches) {
            scope.data.exp_year = matches[0];
            scope.save();
        }
    }

    var getCardParams = function (data , root) {
        //var data = scope.data;
        if (!root.cc_month || !root.card_number || !root.cvv) {
            root.cc_details = {
                month: data.cc_month.split("/")[0],
                year: "20" + data.cc_month.split("/")[1],
                cnum: data.card_number.replace(/\s+/g, '').replace(/[^0-9]/gi, ''),
                cvv: data.cvv
            }
            af_send_intent("pay_new_card", root);
            scope.save();
        }
    }

    var pay = function (data) {
        af_open_webintercept({
            callback_intercept: "https://production.appsfly.io/paytm/posted-params",
            url: "https://api.razorpay.com/v1/payments/create/redirect",
            headers: {
                "content-type": "application/x--urlencoded",
                "Authorization" : "Basic cnpwX3Rlc3RfTlNJM3V6ZVNyOERyZFk6MmlRQm9tTkY3akRodUJDdGd4OWk3NXht"
            },
            auth: {
                "username" : "rzp_test_NSI3uzeSr8DrdY",
                "password" : "2iQBomNF7jDhuBCtgx9i75xm"
            },
            method: "POST",
            body: data.payment_window_params.data,
            title: "Pay",
            callback: "forward(url, $root)",
            data: data,
            injectionParam: "data.web_response"
        });
    }

    //To forward to MeraEvents after payment is complete
    var forward = function (url, root) {
        root.web_response = url;
        af_send_intent("forward", root);
    }
