af-navbar-title(label="Pay with Razorpay")
af-layout(direction="column")
	af-divider
	af-progressbar
	af-layout(direction="column" align="center" margin-top=60)
		af-layout(direction="column")
			af-icon(icon="CHECKBOX_MARKED_CIRCLE" size=150 color="#455696" )
		af-label(text="Successful" appearance="title" text-align="center" padding=5 text-color="#008000")
		af-label(text="Transaction ID : ${charge.id}" appearance="caption" text-align="center" margin-bottom=26)
		af-label(text="You have just paid" appearance="large" text-align="center" )
		af-label(text="$10.00" appearance="headline" text-align="center" text-color="#455696")


af-layout(direction="column" bg-color="#455696" inverted padding-right=10 padding-left=10 padding-top=5 padding-bottom=5 align="end")
	af-button(label="VIEW TICKET" af-onclick="getCardParams($data,$root)")




script.
	var changeMobile = function (data) {
		data.mobile = "";
		processIntent("change_mobile", data);
	}

	var onLoad = function (data) {
		viewAction("clear-stack-till", {"component-identifier": "pay_view"});
	}

	var gatewayAmount = function (data) {
		if (data.use_wallet) {
			return parseFloat(Math.round((data.totalBillable - data.paytm_balance.response.amount) * 100) / 100).toFixed(2);
		}
		else {
			return parseFloat(Math.round(data.totalBillable * 100) / 100).toFixed(2);
		}
	}

	var showPaytmCards = function (data) {
		processIntent("paytm_card", data);
	}

	var showPaytmNetbanking = function (data) {
		processIntent("paytm_netbank", data);
	}

	var payWithPaytmWallet = function (data) {
		processIntent("pay_with_paytm_wallet_only", data)

	}
