af-navbar-title(label="Verify Mobile")
af-layout(direction="column")
	af-layout(direction="column" padding=10)
		af-layout(direction="column" align-items="flex_center" padding=10)
			af-image-view(src="https://upload.wikimedia.org/wikipedia/en/4/42/Paytm_logo.png" width=70 resize="fit")
		af-layout(direction="column" align-items="flex_center")
			af-label(text="Enter the OTP received on ${mobileNumber(data)}" dim label-type="subhead")
		af-layout(direction="column" padding=10)
			af-edit-text(label-type="subhead" placeholder="Verification Code" input-type="number" af-value="data.paytm_otp" text-align="center")
			af-divider
			af-progress
		af-layout(direction="column" padding=10)
			af-button(primary label="VERIFY" af-onclick="verify(data)" af-enabled="(validOTP(data)?'true':'false')" af-watch="data.paytm_otp" color="#FFFFFF")
		af-layout(direction="row" padding=10)
				af-button(label="Resend OTP" af-onclick="resend(data)" bordered color="#000000")
				af-layout(direction="column" flex=1)
				af-button(label="Change Number" af-onclick="changeMobile(data)" bordered color="#000000")

		af-layout(direction="column" padding=10 af-visible="data.paytm_error?'true':'false'" align-items="flex_center")
			af-label(text="${data.paytm_error}" color="#FF0000" dim)


script.
	var mobileNumber = function(data){
		if(data.mobile){
			return data.mobile;
		}
		else{
			return data.paytm_number;
		}
	}

	var validOTP = function (data) {
		return data.paytm_otp.length == 6;
	}

	var verify = function (data) {
		data.paytm_error = null;
		processIntent("next", data);
	}

	var resend = function(data){
		data.paytm_error = null;
		processIntent("resend", data);
	}

	var changeMobile = function (data) {
		data.paytm_error = "";
		data.mobile="";
		processIntent("change_mobile", data);
	}